@import "../styles/mixins";

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 8px;
}

ion-note {
  font-family: Montserrat, serif;
}

.title-wrapper {
  font-weight: bold;
  margin-bottom: 4px;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

.contents-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .image {
    min-width: 80px;
    flex: 1;
    padding: 8px 0;
  }

  .column-wrapper {
    flex: 4;
    max-width: 100%;

    h3 {
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  .contents {
    @include truncate(2);
    line-height: 16px;
  }
}

