#snack-bar {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1;
}

ion-fab {
  .main {
    --ionicon-stroke-width: 40px;
  }

  ion-fab-list {
    --ionicon-stroke-width: 28px;
  }
}
